<h1>Razor Demo Example-06</h1>
<p>
	Razor is a view engine in .NET core <br />
	Used to have programming in the view (at presentation logic)
	</p>

 Date: @DateTime.Now.ToLongDateString() <br />
 Date: @DateTime.Now.ToLongTimeString() <br />

 Addition of 10 and 20: @(10+20) <br />
 Subtration of 10 and 3: @(10-3) <br />
 Multiplication of 8 and 2: @(8*2) <br />
 Division of 9 and 3: @(9/3) <br />

<a asp-controller="RazorDemo" asp-action="Index">Index</a> |
<a asp-controller="RazorDemo" asp-action="Ex01">Ex-01</a> |
<a asp-controller="RazorDemo" asp-action="Ex02">Ex-02</a> |
<a asp-controller="RazorDemo" asp-action="Ex03">Ex-03</a> |
<a asp-controller="RazorDemo" asp-action="Ex04">Ex-04</a> |
<a asp-controller="RazorDemo" asp-action="Ex05">Ex-05</a> |

